<div class="header">
    <button (click)="goToCoursePage()">
        <div class="button-content">
            <div class="header-title">Kinologist</div>
            <div class="logo">
                <img src="../assets/images/logo.png" alt="KinologistLogo">
            </div>
        </div>
    </button>
</div>
<div class="container">
    <div class="title">
        Возможные способы оплаты
    </div>

    <div class="text">
        Стоимость курса <br>
        "Воспитанная собака за 7 шагов"<br>
        <div class="price">
            100$
        </div>
        
    </div>


    <div id="paypalButtons"></div>
</div>