@font-face {
    font-family: 'Open Sans';
    src: url('../assets/Fonts/OpenSans.ttf') format('truetype');
    /* IE 9 Compatibility Mode */
}

@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('../assets/Fonts/bebas_neue_bold.eot');
    /* IE 9 Compatibility Mode */
    src: url('../assets/Fonts/bebas_neue_bold.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../assets/Fonts/bebas_neue_bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../assets/Fonts/bebas_neue_bold.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../assets/Fonts/bebas_neue_bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../assets/Fonts/bebas_neue_bold.svg#bebas_neue_bold') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&family=Open+Sans&display=swap');

.container {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.header {
    background-color: #303030;
    color: #FFFFFF;

    font-weight: bold;

    padding-top: 1.5vw;
    padding-bottom: 1.5vw;

    border: none;
}

.link-header {
    display: inline-block;
    margin-right: 4vw;

    font-size: 0.9vw;

    align-items: center;
}

.links-header {
    text-align: center;
}

.contact-number {
    font-size: 1.1vw;
}

.first-container {
    background-image: url(../assets/images/first-background-custom.png);
    background-repeat: no-repeat;
    background-position: top 0 left 100%;
    background-size: 77%;
    width: 100%;
    height: 100%;

    font-size: 1.25vw;
}

ol {
    list-style: none;
    font-weight: 400;
    padding-left: 0;
}

ol>li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.9vw;
}

.left-part, .right-part {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    text-align: left;
}

.first-title {
    font-family: 'Bebas Neue Bold';

    color: #303030;

    text-transform: uppercase;

    font-size: 4vw;

    margin-bottom: 4%;
}

.first-container-body {
    padding-left: 23vw;
}

.first-dog-img {
    margin-left: -5%;

    width: 100%;
}

.course4you {
    font-size: 1.25vw;
    margin-bottom: 0;

    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.buy-button {
    background-color: #66A340;

    width: 40%;
    text-align: center;

    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    border-radius: 1vw;
}

.first-left-list {
    text-align: left;

    width: 100%;
}

.second-container-body {
    background-color: #f5f5f5;

    border-radius: 1vw;


    margin-top: -3%;
    margin-left: 1%;
    margin-right: 1%;
}

.left-part-second {
    margin-top: -3%;
    margin-left: 18vw;
}

.second-photo {
    width: 83%;
}

.right-part-second {
    margin-left: -5%;
}

.second-title {
    font-family: 'Bebas Neue Bold';

    font-size: 3.75vw;

    text-transform: uppercase;
}

.pr {
    font-weight: 400;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    
    margin-bottom: 0;
}

.about-pavel {    
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.4vw;
}