<div *ngIf="IsMobile" class="container">
  <div *ngIf="!isInBurger">
    <div class="header">
      <div class="header-logo">
        <img src="../assets/images/logo.png" alt="KinologistLogo">
      </div>

      <button class="burger-header">
        <div class="burger-row"></div>
        <div class="burger-row"></div>
        <div class="burger-row"></div>
      </button>
    </div>

    <div class="main-body">

      <div class="first-container">

        <div class="first-container-body">

          <div class="left-part-first left-part">
            <h2 class="first-title">
              Воспитание <br>
              собаки <br>
              за 7 шагов</h2>
          </div>

          <div class="right-part-first right-part">
            <img class="first-dog-img" src="../assets/images/first-dog.png" alt="dog-image">
          </div>

        </div>
        <div class="first-left-list">
          <h4 class="course4you">Курс вам подойдет, <br> если:</h4>
          <ol>
            <li>✔ Собака не слушает ваши команды</li>
            <li>✔ Пакостит дома и охотится за Вашей едой</li>
            <li>✔ Тянет поводок и реагирует на прохожих и других <br> животных на улице</li>
            <li>✔ Вы уже пробовали заниматься, но что-то пошло <br>
              не так</li>
          </ol>

        </div>
        <div class="buy-button">
          <a href="#">
            Купить курс
          </a>
        </div>
      </div>

      <div class="second-container">
        <div class="second-container-body" id="aboutPavel">

          <div class="right-part-second right-part">
            <h2 class="second-title block-title">профессионал своего дела</h2>

            <p class="about-pavel">
              Меня зовут Павел Кулик и вот уже
              более 11 лет я ведущий специалист
              в области воспитания животных
            </p>

            <p class="pr">
              Я был старшим военным инструктором
              группы специалистов службы собак.
              В 2011 году получил образование

              специалиста-кинолога, создал собственную
              методику обучения и воспитал более
              1500 собак
            </p>

            <p class="pr">
              Моей методикой воспользовалось большое
              количество людей, и остались ей очень
              довольны из-за ее простоты даже для новичка
              в этом деле.
            </p>
          </div>

        </div>
      </div>

      <div class="third-container">
        <div class="third-container-body">
          <div class="third-title block-title">
            Если ваша собака
          </div>
          <div class="third-rows">

            <div class="third-row first-third-row">
              Плохо реагирует на подзыв и ваши команды
            </div>

            <div class="third-row second-third-row">
              Пытается съесть вашу еду даже со стола
            </div>

            <div class="third-row third-third-row">
              Реагирует на прохожих людей и животных
            </div>

            <div class="third-row fourth-third-row">
              Грызёт вещи дома
            </div>

            <div class="third-row fifth-third-row">
              Тянет поводок при прогулках
            </div>

          </div>

          <div class="bottom-third-title">

            на курсе “воспитание собаки за 7 шагов” <br>
            вы решите эти проблемы

          </div>
        </div>
      </div>

      <div class="fourth-container">
        <div class="fourth-container-body">
          <div class="left-block-fourth">
            <div class="big-text">
              11 лет
            </div>
            <div class="small-text">
              воспитания непослушных
              собачек
            </div>
          </div>
          <div class="center-block-fourth">
            <div class="small-text">
              Огромный опыт
            </div>
            <div class="big-text">
              онлайн и <br>
              оффлайн
            </div>
            <div class="small-text">
              обучения
            </div>
          </div>
          <div class="right-block-fourth">

            <div class="big-text">
              1500+
            </div>
            <div class="small-text">
              воспитаных
              питомцев
            </div>
          </div>
        </div>
      </div>

      <div class="fifth-container" id="Modules">
        <div class="fifth-container-body">
          <div class="fifth-title ">
            Курс разделен <br> на 7 модулей
          </div>
          <div class="list-fifth">
            <div class="p">
              <div class="item-fifth">
                <div class="block-title">
                  1
                </div>
                <div class="list-item-text">
                  рядом
                </div>
              </div>

              <div class="item-fifth">
                <div class="block-title">
                  2
                </div>
                <div class="list-item-text">
                  сидеть
                </div>
              </div>

              <div class="item-fifth">
                <div class="block-title">
                  3
                </div>
                <div class="list-item-text">
                  лежать
                </div>
              </div>
            </div>
            <div class="p">
              <div class="item-fifth">
                <div class="block-title">
                  4
                </div>
                <div class="list-item-text">
                  ко мне
                </div>
              </div>

              <div class="item-fifth">
                <div class="block-title">
                  5
                </div>
                <div class="list-item-text">
                  место
                </div>
              </div>

              <div class="item-fifth">
                <div class="block-title">
                  6
                </div>
                <div class="list-item-text">
                  нет
                </div>
              </div>

              <div class="item-fifth">
                <div class="block-title">
                  7
                </div>
                <div class="list-item-text">
                  стоять
                </div>
              </div>
            </div>

          </div>

          <div class="fifth-blocks">

            <div class="fifth-block">
              <span>
                Каждый модуль содержит <br>
                полноценное обучение собаки <br>
                в рамках данного модуля
              </span>

            </div>
            <div class="fifth-block">
              <span>
                Видео-материалы доступны <br>
                всегда и в любое время можно <br>
                продолжить занятия
              </span>

            </div>
            <div class="fifth-block">
              <span>
                Уровень сложности <br>
                повышается постепенно. <br>
                Справится даже новичок
              </span>

            </div>


            <div class="fifth-block">
              <span>
                Занимайтесь в удобное время
                и постепенно<br> используете
                полученные <br>знания в своих
                обычных прогулках
              </span>

            </div>
            <div class="fifth-block">
              <span>
                Доступ по всем видеороликам
                открывается<br> сразу. Не нужно
                что-то делать, <br>чтобы посмотреть
                следующее видео
              </span>

            </div>
            <div class="fifth-block">
              <span>
                Учится не только Ваша собака,
                но и Вы. <br> Вы постепенно станете
                не только хорошим<br> хозяином, но и дрессировщиком для своей собаки
              </span>

            </div>

          </div>
        </div>
      </div>

      <div class="sixth-container" id="howItGoes">
        <div class="sixth-container-body">
          <div class="sixth-content">
            <div class="sixth-title block-title">
              курс проходит в закрытом <br>
              телеграм канале
            </div>
            <div class="sixth-text-right">
              После оплаты вам дадут ссылку на закрытый
              телеграм канал, в котором будут размещены
              видеоролики и текстовое описание процесса
              каждого шага обучения всех уроков
            </div>
            <div class="sixth-text-right">
              После прохождения урока ученики выполняют
              домашнее задание и отправляют его в чат, где
              получают обратную связь от куратора, а также
              могут задавать любые вопросы в рамках курса
            </div>


            <div class="buttons-bottom">

              <a class="sixth-btn btn" href="#">
                Купить курс
              </a>


              <a class="sixth-btn-second btn" href="#">
                Задать вопрос
              </a>

            </div>
          </div>


        </div>
      </div>

      <div class="seventh-container">
        <div class="seventh-container-body">
          <div class="seventh-content">
            <div class="block-title seventh-title">
              Чему Вы
              научитесь
            </div>

            <div class="seventh-list">
              <div class="seventh-item">
                <div class="seventh-item-img">
                  <img src="../assets/images/seventh-first.png" alt="block img">
                </div>

                <div class="seventh-item-text">
                  Вы навсегда забудете <br>
                  хаотичное движение <br>
                  Вашей собаки с<br>
                  командой РЯДОМ!
                </div>
              </div>

              <div class="seventh-item">
                <div class="seventh-item-img">
                  <img src="../assets/images/seventh-second.png" alt="block img">
                </div>

                <div class="seventh-item-text">
                  Ваша собака будет <br>
                  спокойно СИДЕТЬ <br>
                  или ЛЕЖАТЬ, пока Вы<br>
                  наслаждаетесь своей<br>
                  чашечкой кофе
                </div>
              </div>

              <div class="seventh-item">
                <div class="seventh-item-img">
                  <img src="../assets/images/seventh-third.png" alt="block img">
                </div>

                <div class="seventh-item-text pr">
                  Команда КО МНЕ, <br>
                  как холодильнику <br>
                  в 3 ночи
                </div>
              </div>

              <div class="seventh-item">
                <div class="seventh-item-img">
                  <img src="../assets/images/seventh-fourth.png" alt="block img">
                </div>

                <div class="seventh-item-text pr">
                  <!-- Ваша собака будет <br> -->
                  У Вашего питомца <br>
                  будет МЕСТО в доме, <br>
                  и Вы спокойно <br>
                  сможете отдохнуть<br>
                  от путающейся под<br>
                  ногами собаки
                </div>
              </div>

              <div class="seventh-item">
                <div class="seventh-item-img">
                  <img src="../assets/images/seventh-fifth.png" alt="block img">
                </div>

                <div class="seventh-item-text pr">
                  <!-- Ваша собака будет <br> -->
                  Вы научитесь<br> правильно
                  говорить<br> НЕТ своей
                  собаке и <br> ДА послушанию
                </div>
              </div>

              <div class="seventh-item">
                <div class="seventh-item-img">
                  <img src="../assets/images/seventh-sixth.png" alt="block img">
                </div>

                <div class="seventh-item-text pr">
                  <!-- Ваша собака будет <br> -->
                  СТОЯТЬ - мера<br>
                  предосторожности от<br>
                  неожиданных побегов<br>
                  на проезжую часть
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="eighth-container">
        <div class="eighth-container-body">

          <h2 class="eighth-title block-title">
            Будь на одной волне <br>
            со своим питомцем
          </h2>

          <p class="eight-text">
            Жизнь в кайф с собакой — вот что Вас ждет. <br>
            Вы сможете ходить с ней куда угодно!
          </p>

          <p class="eight-text">
            Я, к примеру, без страхов и сомнений езжу <br>
            с собаками в отпуск. И вы сможете!
          </p>

          <a class="eighth-btn btn" href="#">
            Купить курс
          </a>

        </div>
      </div>

      <div class="ninth-container" id="feedbacks">
        <div class="ninth-container-body">


          <h2 class="ninth-title block-title">
            отзывы из instagram
          </h2>

          <div class="scrolling-part">
            <div class="img-ninth" *ngFor="let y of imgCollection">
              <img src="{{y.image}}" alt="{{y.alt}}">
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- <div class="footer">
      <div class="footer-left footer-part">
        Остались вопросы? <br>
        Тел. <a href="tel:+380677775401">+380677775401</a>
      </div>
      <div class="footer-center">
        <div class="footer-logo">
          <img src="../assets/images/logo.png" alt="KinologistLogo">
        </div>
      </div>
      <div class="footer-right footer-part">
        <img src="../assets/images/TelegramVector.png" alt="vec"> <a href="https://t.me/Producer_dp">@Producer_dp</a> <br>
        <img src="../assets/images/instagramVector.png" alt="vec"> <a
          href="https://www.instagram.com/kinolog_dp/">@kinolog_dp</a>
      </div>
    </div> -->
  </div>
  <div class="burger-window" *ngIf="isInBurger">

  </div>
</div>
<div *ngIf="!IsMobile" class="container">
  <div class="header">
    <div class="header-logo">
      <img src="../assets/images/logo.png" alt="KinologistLogo">
    </div>
    <div class="link-header">
      <a href="#aboutPavel">
        О создателе
      </a>
    </div>
    <div class="link-header">
      <a href="#Modules">
        Модули курса
      </a>
    </div>
    <div class="link-header">
      <a href="#howItGoes">
        Как проходит курс
      </a>
    </div>
    <div class="link-header">
      <a href="#feedbacks">
        Отзывы
      </a>
    </div>
    <div class="contact-number link-header">
      <a href="tel:+380677775401">
        Тел. 0677775401
      </a>
    </div>
  </div>

  <div class="main-body">

    <div class="first-container">

      <div class="first-container-body">

        <div class="left-part-first left-part">
          <h2 class="first-title">Воспитание собаки <br> за 7 шагов</h2>
          <div class="buy-button">
            <a href="#">
              Купить курс
            </a>
          </div>
          <div class="first-left-list">
            <h4 class="course4you">Курс вам подойдет, если:</h4>
            <ol>
              <li>✔ Собака не слушает ваши команды</li>
              <li>✔ Пакостит дома и охотится за Вашей едой</li>
              <li>✔ Тянет поводок и реагирует на прохожих и других <br> животных на улице</li>
              <li>✔ Вы уже пробовали заниматься, но что-то пошло не так</li>
            </ol>
          </div>

        </div>

        <div class="right-part-first right-part">
          <img class="first-dog-img" src="../assets/images/first-dog.png" alt="dog-image">
        </div>

      </div>

    </div>

    <div class="second-container">
      <div class="second-container-body" id="aboutPavel">

        <div class="left-part-second left-part">
          <img class="second-photo" src="../assets/images/second-block-photo.png" alt="Second block photo">
        </div>

        <div class="right-part-second right-part">
          <h2 class="second-title block-title">профессионал своего дела</h2>

          <p class="about-pavel">
            Меня зовут Павел Кулик и вот уже <br>
            более 11 лет я ведущий специалист <br>
            в области воспитания животных
          </p>

          <p class="pr">
            Я был старшим военным инструктором <br>
            группы специалистов службы собак. <br>
            В 2011 году получил образование
            <br>
            специалиста-кинолога, создал собственную <br>
            методику обучения и воспитал более <br>
            1500 собак
          </p>

          <p class="pr">
            Моей методикой воспользовалось большое <br>
            количество людей, и остались ей очень <br>
            довольны из-за ее простоты даже для новичка <br>
            в этом деле.
          </p>
        </div>

      </div>
    </div>

    <div class="third-container">
      <div class="third-container-body">
        <div class="third-title block-title">
          Если ваша собака
        </div>
        <div class="third-rows">

          <div class="third-row first-third-row">
            Плохо реагирует на подзыв и ваши команды
          </div>

          <div class="third-row second-third-row">
            Пытается съесть вашу еду даже со стола
          </div>

          <div class="third-row third-third-row">
            Реагирует на прохожих людей и животных
          </div>

          <div class="third-row fourth-third-row">
            Грызёт вещи дома
          </div>

          <div class="third-row fifth-third-row">
            Тянет поводок при прогулках
          </div>

        </div>

        <div class="third-title block-title bottom-third-title">

          на курсе “воспитание собаки за 7 шагов” <br>
          вы решите эти проблемы

        </div>
      </div>
    </div>

    <div class="fourth-container">
      <div class="fourth-container-body">
        <div class="left-block-fourth">
          <div class="small-text">
            опыт
          </div>
          <div class="big-text">
            11 лет
          </div>
          <div class="small-text">
            воспитания <br>
            собачек
          </div>
        </div>
        <div class="center-block-fourth">
          <div class="small-text">
            отличное понимание
          </div>
          <div class="big-text">
            онлайн и <br>
            оффлайн
          </div>
          <div class="small-text">
            обучения
          </div>
        </div>
        <div class="right-block-fourth">
          <div class="small-text">
            обучено
          </div>
          <div class="big-text">
            1500+
          </div>
          <div class="small-text">
            воспитаных <br>
            питомцев
          </div>
        </div>
      </div>
    </div>

    <div class="fifth-container" id="Modules">
      <div class="fifth-container-body">
        <div class="fifth-title block-title">
          Курс разделен на 7 модулей
        </div>

        <div class="list-fifth">
          <div class="item-fifth">
            <div class="block-title">
              1
            </div>
            <div class="list-item-text">
              рядом
            </div>
          </div>

          <div class="item-fifth">
            <div class="block-title">
              2
            </div>
            <div class="list-item-text">
              сидеть
            </div>
          </div>

          <div class="item-fifth">
            <div class="block-title">
              3
            </div>
            <div class="list-item-text">
              лежать
            </div>
          </div>

          <div class="item-fifth">
            <div class="block-title">
              4
            </div>
            <div class="list-item-text">
              ко мне
            </div>
          </div>

          <div class="item-fifth">
            <div class="block-title">
              5
            </div>
            <div class="list-item-text">
              место
            </div>
          </div>

          <div class="item-fifth">
            <div class="block-title">
              6
            </div>
            <div class="list-item-text">
              нет
            </div>
          </div>

          <div class="item-fifth">
            <div class="block-title">
              7
            </div>
            <div class="list-item-text">
              стоять
            </div>
          </div>

        </div>

        <div class="fifth-blocks">

          <div class="fifth-block">
            <span>
              Каждый модуль содержит <br>
              полноценное обучение собаки <br>
              в рамках данного модуля
            </span>

          </div>
          <div class="fifth-block">
            <span>
              Видео-материалы доступны <br>
              всегда и в любое время можно <br>
              продолжить занятия
            </span>

          </div>
          <div class="fifth-block">
            <span>
              Уровень сложности <br>
              повышается постепенно. <br>
              Справится даже новичок
            </span>

          </div>

          <div></div>

          <div class="fifth-block">
            <span>
              Занимайтесь в удобное время <br>
              и постепенно используете <br>
              полученные знания в своих <br>
              обычных прогулках
            </span>

          </div>
          <div class="fifth-block">
            <span>
              Доступ по всем видеороликам <br>
              открывается сразу. Не нужно <br>
              что-то делать, чтобы посмотреть <br>
              следующее видео
            </span>

          </div>
          <div class="fifth-block">
            <span>
              Учится не только Ваша собака, <br>
              но и Вы. Вы постепенно станете <br>
              не только хорошим хозяином, но и <br>
              дрессировщиком для своей собаки
            </span>

          </div>

        </div>
      </div>
    </div>

    <div class="sixth-container" id="howItGoes">
      <div class="sixth-container-body">
        <div class="sixth-img-left">
          <div class=""></div>
          <img src="../assets/images/sixth-img.png" alt="dog-photo">
        </div>
        <div class="sixth-right-block">
          <div class="sixth-title block-title">
            курс проходит <br>
            в закрытом <br>
            телеграм канале
          </div>
          <div class="sixth-text-right pr">
            После оплаты вам дадут ссылку на закрытый <br>
            телеграм канал, в котором будут размещены <br>
            видеоролики и текстовое описание процесса<br>
            каждого шага обучения всех уроков<br>
            <br>
            После прохождения урока ученики выполняют<br>
            домашнее задание и отправляют его в чат, где<br>
            получают обратную связь от куратора, а также<br>
            могут задавать любые вопросы в рамках курса

          </div>
          <div class="buttons-bottom">

            <a class="sixth-btn btn" href="#">
              Купить курс
            </a>


            <a class="sixth-btn-second btn" href="#">
              Задать вопрос
            </a>

          </div>
        </div>
      </div>
    </div>

    <div class="seventh-container">
      <div class="seventh-container-body">
        <div class="seventh-content">
          <div class="seventh-title block-title">
            Чему Вы <br>
            научитесь
          </div>

          <div class="seventh-list">
            <div class="seventh-item">

              <div class="seventh-item-img">
                <img src="../assets/images/seventh-first.png" alt="block img">
              </div>

              <div class="seventh-item-text pr">
                Вы навсегда забудете хаотичное движение Вашей собаки с командой РЯДОМ!

              </div>
            </div>

            <div class="seventh-item">
              <div class="seventh-item-img">
                <img src="../assets/images/seventh-second.png" alt="block img">
              </div>

              <div class="seventh-item-text pr">
                Ваша собака будет спокойно СИДЕТЬ или ЛЕЖАТЬ, пока Вы наслаждаетесь своей чашечкой кофе

              </div>
            </div>

            <div class="seventh-item">
              <div class="seventh-item-img">
                <img src="../assets/images/seventh-third.png" alt="block img">
              </div>

              <div class="seventh-item-text pr">
                Команда КО МНЕ, как холодильнику в 3 ночи
              </div>
            </div>

            <div class="seventh-item">
              <div class="seventh-item-img">
                <img src="../assets/images/seventh-fourth.png" alt="block img">
              </div>

              <div class="seventh-item-text pr">
                У Вашего питомца будет МЕСТО в доме, и Вы спокойно сможете отдохнуть
                от путающейся под ногами собаки
              </div>
            </div>

            <div class="seventh-item">
              <div class="seventh-item-img">
                <img src="../assets/images/seventh-fifth.png" alt="block img">
              </div>

              <div class="seventh-item-text pr">
                Вы научитесь правильно говорить НЕТ своей собаке и ДА послушанию
              </div>
            </div>

            <div class="seventh-item">
              <div class="seventh-item-img">
                <img src="../assets/images/seventh-sixth.png" alt="block img">
              </div>

              <div class="seventh-item-text pr">
                СТОЯТЬ - это
                еще и мера предосторожности
                от неожиданных побегов на проезжую часть
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="eighth-container">
      <div class="eighth-container-body">

        <div class="left-part-eighth left-part">
          <img class="eighth-photo" src="../assets/images/eighth-img.png" alt="Second block photo">
        </div>

        <div class="right-part-eighth right-part">
          <h2 class="eighth-title block-title">
            Будь на одной волне <br>
            со своим питомцем
          </h2>

          <p class="pr">
            Жизнь в кайф с собакой — вот что Вас ждет. <br>
            Вы сможете ходить с ней куда угодно!
          </p>

          <p class="pr">
            Я, к примеру, без страхов и сомнений езжу <br>
            с собаками в отпуск. И вы сможете!
          </p>

          <a class="eighth-btn btn" href="#">
            Купить курс
          </a>
        </div>

      </div>
    </div>

    <div class="ninth-container" id="feedbacks">
      <div class="ninth-container-body">


        <h2 class="ninth-title block-title">
          почитайте реальные отзывы из instagram
        </h2>

        <div class="scrolling-part">
          <div class="img-ninth" *ngFor="let y of imgCollection">
            <img src="{{y.image}}" alt="{{y.alt}}">
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-left footer-part">
      Остались вопросы? <br>
      Тел. <a href="tel:+380677775401">+380677775401</a>
    </div>
    <div class="footer-center">
      <div class="footer-logo">
        <img src="../assets/images/logo.png" alt="KinologistLogo">
      </div>
    </div>
    <div class="footer-right footer-part">
      <img src="../assets/images/TelegramVector.png" alt="vec"> <a href="https://t.me/Producer_dp">@Producer_dp</a> <br>
      <img src="../assets/images/instagramVector.png" alt="vec"> <a
        href="https://www.instagram.com/kinolog_dp/">@kinolog_dp</a>
    </div>
  </div>
</div>