<div class="container">
  <div class="header">
    <div class="links-header">
      <div class="link-header">
        <a href="">
          О создателе
        </a>
      </div>
      <div class="link-header">
        <a href="">
          Модули курса
        </a>
      </div>
      <div class="link-header">
        <a href="">
          Как проходит курс
        </a>
      </div>
      <div class="link-header">
        <a href="">
          Отзывы
        </a>
      </div>
      <div class="contact-number link-header">
        <a href="tel:+380677775401">
          Тел. 0677775401
        </a>
      </div>
    </div>
  </div>
  <div class="main-body">

    <div class="first-container">

      <div class="first-container-body">

        <div class="left-part-first left-part">
          <h2 class="first-title">Воспитание собаки <br> за 7 шагов</h2>
          <div class="buy-button">
            <a href="">
              Купить курс
            </a>
          </div>
          <div class="first-left-list">
            <h4 class="course4you">Курс вам подойдет, если:</h4>
            <ol>
              <li>✔ Собака не слушает ваши команды</li>
              <li>✔ Пакостит дома и охотится за Вашей едой</li>
              <li>✔ Тянет поводок и реагирует на прохожих и других <br> животных на улице</li>
              <li>✔ Вы уже пробовали заниматься, но что-то пошло не так</li>
            </ol>
          </div>

        </div>

        <div class="right-part-first right-part">
          <img class="first-dog-img" src="../assets/images/first-dog.png" alt="dog-image">
        </div>

      </div>

    </div>

    <div class="second-container">
      <div class="second-container-body">

        <div class="left-part-second left-part">
          <img class="second-photo" src="../assets/images/second-block-photo.png" alt="Second block photo">
        </div>

        <div class="right-part-second right-part">
          <h2 class="second-title block-title">профессионал своего дела</h2>

          <p class="about-pavel">
            Меня зовут Павел Кулик и вот уже <br>
            более 11 лет я ведущий специалист <br>
            в области воспитания животных
          </p>

          <p class="pr">
            Я был старшим военным инструктором <br>
            группы специалистов службы собак. <br>
            В 2011 году получил образование
            <br>
            специалиста-кинолога, создал собственную <br>
            методику обучения и воспитал более <br>
            1500 собак
          </p>

          <p class="pr">
            Моей методикой воспользовалось большое <br>
            количество людей, и остались ей очень <br>
            довольны из-за ее простоты даже для новичка <br>
            в этом деле.
          </p>
        </div>

      </div>
    </div>

    <div class="third-container">
      <div class="third-container-body">
        <div class="third-title block-title">
          Если ваша собака
        </div>
        <div class="third-rows">

          <div class="third-row first-third-row">
            Плохо реагирует на подзыв и ваши команды
          </div>

          <div class="third-row second-third-row">
            Пытается съесть вашу еду даже со стола
          </div>

          <div class="third-row third-third-row">
            Реагирует на прохожих людей и животных
          </div>

          <div class="third-row fourth-third-row">
            Грызёт вещи дома
          </div>

          <div class="third-row fifth-third-row">
            Тянет поводок при прогулках
          </div>

        </div>

        <div class="third-title block-title bottom-third-title">

          на курсе “воспитание собаки за 7 шагов” <br>
          вы решите эти проблемы

        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">

</div>